-var app_names = ["Mail_Logo.png", "Github_logo.png", "Drive_Logo.png", "Dropbox-logo.png"]

mixin master_element(course_name,link_of_meet, link_of_classroom)
    .circle--container
        .circle
            .circle--teacher 
                figure
                    img(src="assets/shadow.png", alt="Foto del profesor o del curso")
            .circle--teacher_description
                .button
                    span #{course_name}
            .ghost-for-meet
                .button(class="button-for-clasroom")
                    a(href=link_of_classroom target="_blank") Entrar
            .logo-container(class="meet")
                img(src="assets/meet-logo.png", alt="Logo del aplicativo meet de google")
                .button(class="button-for-meet")
                    a(href=link_of_meet target="_blank") Entrar
            .logo-container(class="classroom")
                img(src="assets/classroom-logo.png", alt="Logo del aplicativo Classroom de Google") 
            .circle--superior 
            .circle--inferior    

mixin app-container(app_src)
    img(src="assets/"+app_src , alt=app_src)

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="sass/main.css")
        title FpCL
    body
        include top_bar.pug
        block contenido
        include sidebar.pug 
        script(src="scripts/main.js") 