//- 
aside
    section.sidebar-container 
        figure.sidebar-btn__container(id="sidebar-btn")
            .sidebar-btn: img(src="assets/arrow.png") 
        .sidebar__content
            figure.content__circle 
                img(src="assets/shadow.png", alt="Foto del Alumno")
            h4.content__profile--user Palacios Durand Oriol Fernando
            h4.content__profile--education-place UNSAAC
                p Universidad Nacional San Antonio Abad del Cusco
            h4.content__profile--aplications Aplicaciones
                each link, app in app_names 
                    +app-container(app ,link)

    
