//- 
aside
    section.sidebar-container 
        figure.sidebar-btn__container(id="sidebar-btn")
            .sidebar-btn: img(src="assets/arrow.png") 
        .sidebar__content
 
        //-evaluar circle-teacher
        //- Usar ciclos de sass para titulos y nombres
        //- crear nuevo mixin para los nuevos logotipos
    
