header
    //- Este contenedor deberá tener un grid 1x3
    nav.top-bar
        figure.top-bar__school 
            img(src="../../assets/escudo_facultad.png", alt="Escudo de la escuela de Ingeniería Informática y de Sistemas")
        p.top-bar__greeting Hola! ¿Listo para entrar a clases?
        figure.top-bar__university 
            img.ss(src="../../assets/escudo_unsaac.png", alt="Escudo de la UNSAAC")
    
