extend componentes/root.pug
block contenido
    main.grid-master
        +master_element("Cálculo I","https://meet.google.com/psp-cyhf-moq?authuser=0"," https://classroom.google.com/u/0/c/NDE5OTAwNzk3OTA1?hl=es")
        +master_element("Física I","https://meet.google.com/wwe-zmzz-yur ","https://classroom.google.com/u/0/c/NDE4Mzg4ODQxOTgz?hl=es")
        +master_element("Liderazgo","https://meet.google.com/nam-tqpx-zec","https://classroom.google.com/u/0/c/NDI3NDQwNTM2NDIy?hl=es")
        +master_element("Matemáticas Discretas 1","https://meet.google.com/tof-xsry-gzx?authuser=0&hs=179"," https://classroom.google.com/u/0/c/NDExMzEzODc0NTEz?hl=es")
        +master_element("TIC","https://meet.google.com/qxb-fxgk-swr?authuser=0&hs=179","https://classroom.google.com/u/0/c/NDE5OTE2NzIyOTI1?hl=es")
        +master_element("Fudamentos","https://meet.google.com/vya-qwkx-wgs?authuser=0&hs=179","https://classroom.google.com/u/0/c/NDA4NzQ5Njk3Mjgz?hl=es")