@use "sass:math";
// Como se ve en el HTML los círculos son un sistema de superposicionamiento que se va descubriendo a medida que se interactúa con el elemento en cuestión

// Contenedor principal de cada círculo
.circle--container{
    width: $circle-space;
    height: $circle-space;
    @include all-flex-center;
}
// Segundo contenedor principal de cada círculo
.circle{
    width: $circle-space - 6;
    height: $circle-space - 6;
    border-radius: 50%;
    will-change: transform;
    position: relative;
    overflow: hidden;
    transition: transform .2s ease-out;
}
// Primera rotación
.circle--container:hover .circle{
    transform: rotateZ(-45deg);
}
// Primer subcirculo desaparece ante el hover
.circle--container:hover .circle--teacher{
    transform: translateY(-120%);
}
// Segundo subcirculo desaparece ante el hover
.circle--container:hover .circle--teacher_description{
    transform: translateY(120%);
}
// 
.circle--container:hover .logo-container {
    transform: rotateZ(45deg) translate(10px, 10px);
}
//Para cuando la todo tenga opacity
.circle--container.activate-sidebar-silence:hover .circle{
    transform: rotateZ(0);
}
.circle--container.activate-sidebar-silence:hover .circle--teacher{
    transform: translateY(0);
}
.circle--container.activate-sidebar-silence:hover .circle--teacher_description{
    transform: translateY(0);
}
.circle--container.activate-sidebar-silence:hover .logo-container {
    transform: rotateZ(0) translate(0, 0);
}
// Primer sub-círculo superior
.circle--teacher{
    width: 100%;
    height: 50%;
    background-color: $cirlce-secondary-color;
    position: absolute;
    transition: transform .5s ease-out .2s;
    z-index: 8;
    figure{
        margin: 0 auto;
        width: math.div($circle-space , 2);
        height: math.div($circle-space , 2);
    }
    img{
        transform: translateY(10px); 
        width: 100%;
        height: 100%;
    }
}
// Segundo sub-círculo superior
.circle--teacher_description{
    width: 100%;
    height: 50%;
    background-color: $circle-main-color;
    display: flex;
    justify-content: center; 
    position: absolute;
    top: math.div($circle-space , 2);
    transition: transform .5s ease-out .2s;
    z-index: 8;
}
// Tras la primera revelación suceden estos elementos
.logo-container{
    margin: 0;
    width: 100%;
    height: 50%;
    will-change: transform;
    text-align: center;
    align-content: center;
    transition: transform .2s ease-in-out;
    position: absolute;
    z-index: 5;
    @include all-flex-center;
}
// meet y classroom son las clases que comparte elemento con logo-container
.meet img{
    transition: all .3s ease-in-out;
}
.classroom{
    top: math.div($circle-space,2);
    img{
        transition: all .3s ease-in-out;
    }
}

// Caja fantasma para disparar la animación del círculo superior, dado que este está declarado previamente y no se logrará el efecto de otra forma
.ghost-for-meet{
    top: 137px;
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 6;
    border-radius:  0 0 137px 137px;
    /* outline: 5px solid red; */
}
// Caja superior [esta no contiene el boton ya que si lo hiciera arruinaría el propósito de la caja fantasma]
.circle--superior{
    @include circle-flex;
    background-color: $circle-main-color;
    border-radius: 137px 137px 0 0;
    transition: transform .3s ease-in-out;
}
// Caja inferior que sí contiene un botón
.circle--inferior{
    @include circle-flex;
    top: 137px;
    background-color: $cirlce-secondary-color;
    border-radius:  0 0 137px 137px;
    transition: all .3s ease-in-out;
}
// Para anmimar la parte superior -> desenfoque, disminución de tamaño en el logo y el contenedor alterno
.meet:hover{
    transform: translateY(25px);
    z-index: 7;
}
.meet:hover ~ .circle--superior{
    transform: translateY(25px);
    z-index: 4;
}
.meet:hover img{
    transform: translate(40px, -5px)  scale(1.2);
}
.meet:hover ~ .circle--inferior{
    transform: scale(.7);
}
.meet:hover ~ .classroom img{
    transform: scale(.7);   
    filter: blur(4px);
}
.meet:hover  .button-for-meet{
    opacity: 1;
    transform: translate(-20px, 90px) scale(1);
}
// Para anmimar la parte inferior -> -> desenfoque, disminución de tamaño en el logo y el contenedor alterno
.ghost-for-meet:hover{
    transform: translateY(-25px);
}
.ghost-for-meet:hover ~ .meet img{
    transform: scale(.7);   
    filter: blur(4px);
}
.ghost-for-meet:hover ~ .circle--inferior{
    transform: translateY(-25px);
    z-index: 4;
}
.ghost-for-meet:hover ~ .classroom img{
    transform: translate(-40px, 5px)  scale(1.2);
}
.ghost-for-meet:hover ~ .circle--superior{
    transform: scale(.7);
}
.ghost-for-meet:hover  .button-for-clasroom{
    opacity: 1;
    transform: rotateZ(45deg) translate(109px, -101px) scale(1);
}


